<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        .box{
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Hello, Vue :)</h1>

    <div id="app">
        <!-- attribute binding -->
        <!-- <a :href="url">Best website ever</a> -->
        <div v-if="showBooks">
            <ul>
                <li v-for="book in books">
                    <img :src="book.img" :alt="book.title">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                </li>
            </ul>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span> <!-- v-if takes it out of the DOM -->
            <span v-else>Show Books</span>
        </button>

        <div v-show="showBooks">Currently showing books</div> <!--  v-show uses CSS-->

        <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button>
        <div @click="changeTitle('Oathbringer')">Change Book title</div>
    
        <br>

        <!-- Mouse events -->
        <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent">mouse leave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMouseMove">position - {{ x }} {{ y }}</div>

    </div>

    <script src="app.js"></script>
</body>
</html>